<!DOCTYPE html>
<html>
  <head>
    <title>Challenge</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="wrapper clearfix">
        <div id="logo">
          <%= link_to "DEEMAZE2DO's", root_path %>
        </div>
        <nav>
          <% if user_signed_in? %>
            <%= link_to current_user.name, edit_user_registration_path %>
            <%= link_to "Add New TODO", new_post_path, class: "button" %>
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to "Sign in", new_user_session_path %>
            <%= link_to "Sign Up", new_user_registration_path, class: "button" %>
          <% end %>
        </nav>
      </div>
  </header>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
